# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\akess\Downloads\College-School-Library-Java-Sample--master\College-School-Library-Java-Sample--master\Librarysystem\src\library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
